@import '../../App.css';

.errorpage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    width: 98%;
    padding: 3em;
    border-radius: 0.8em;
    background-color: var(--background-light-highlight);
    display: flex;
    flex-direction: column;
    align-items: center;
}